:root{
    --font-weight: bold;
    --text-align: center;
    --margin-top-20: 20px;
    --margin-top-10: 10px;
    --text-transform: uppercase;
    --padding-title: 20px;
    --margin-top-40: 40px;
    --margin-10:10px;
    --margin-20:20px;
    --margin-40:40px;
    --margin-left-10: 10px;
    --margin-left-15: 15px;
}

/*body*/
body{
    margin: 0;
    padding: 0;
}

/*header*/

header h1{
    text-align: var(--text-align);
    text-shadow: 1px 2px 2px rgb(156, 116, 57) ;
    text-transform: var(--text-transform);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: var(--padding-title);
    margin: var(--margin-40);
}

/*section principale*/

.section-principale{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: var(--margin-top-40);
}

.section-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-size{
    height: 70%;
    width: 60%;
    object-fit: cover;
    border-radius: 5px;
}

.section-image p{
   font-weight: var(--font-weight);
   font-size: 25px;
}

/*section formulaire*/

main h2{
    font-weight: var(--font-weight);
   font-size: 25px;
   text-align: center;
}

.section-formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10%;
}

#message, #niv-difficulte, #nbVies,#inputBox,#hidden-form-number,#rejouerBtn{
    margin: var(--margin-10);
}

#rejouerBtn{
    text-align: center;
}

.heart-size{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
#details{
    margin-top: var(--margin-20);
}
#essayerBtn{
    margin-left: var(--margin-left-10);
}
#niv-inter,#niv-difficile,#niv-cauchemar{
    margin-left: var(--margin-left-15);
}
#annulerBtn{
    display: none;
}